<?xml version="1.0"?>
<!-- Note the detailed sensor configuration can be found in $(find uuv_sensor_ros_plugins)/urdf/-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- DVL  -->
  <xacro:default_dvl_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="-1.4 0 -0.312" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_macro>


  <!-- IMU  -->
  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu_macro>

  <!-- Mount cameras -->
  <xacro:include filename="$(find lias_ocean_sim)/urdf/sensor/camera/camera.xacro" />
  <xacro:camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="right" update_rate="2" width="1920" height="1080">
    <origin xyz="1.15 -0.2 0.4" rpy="0 0 0"/>
  </xacro:camera>

  <xacro:camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left" update_rate="2" width="1920" height="1080">
    <origin xyz="1.15 0.2 0.4" rpy="0 0 0"/>
  </xacro:camera>
  <!-- <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left"> -->



  <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />

  <!-- sonar -->
  <xacro:include filename="$(find lias_ocean_sim)/urdf/sensor/sonar/multibeam_sonar_blueview_p900.xacro" />
  
  <xacro:multibeam_blueview_p900_ray_macro 
    name="blueview_p900" 
    scale="1 1 1" 
    debug="false" 
    sonar_image_topic="sonar_image" 
    sonar_image_raw_topic="sonar_image_raw" 
    robot_name="rexrov" 
    maxDistance="20" 
    raySkips="1" 
    plotScaler="0" 
    sensorGain="0.02" 
    writeLog="false" 
    writeFrameInterval="5" 
    gaussian_noise_mean="0。0" 
    gaussian_noise_stddev="0.0" 
    fidelity="500" 
    robot_link="${namespace}/base_link" 
    ray_visual="true">
    <origin xyz="1.2 0 0.2" rpy="0 0 0"/>
  </xacro:multibeam_blueview_p900_ray_macro>

</robot>
